---
import Filters from "@/components/board/category/Filters.astro";
---

<section>
  <header class="px-8 mx-auto max-w-7xl pt-8">
    <div
      class="p-8 lg:px-20 lg:py-32 rounded-3xl bg-gradient-to-tr from-purple-700 via-purple-500 to-purple-300">
      <div class="text-center max-w-xl mx-auto">
        <span
          class="text-white text-sm leading-6 px-4 py-2 relative bg-white/10 ring-1 ring-white/20 rounded-full"
          >Find your next level job</span
        ><h2
          class="text-white text-3xl font-normal font-display tracking-tighter lg:text-4xl mt-8">
          Choose your category
        </h2>
        <p class="text-slate-300 text-base mt-4">
          Kickstart your career in development
          <span class="md:block"> with exciting entry-level opportunities</span>
        </p>
      </div>
    </div>
  </header>
  <div class="px-8 lg:px-0 mx-auto max-w-7xl">
    <Filters />
  </div>
</section>
