---
import { all } from "@/data/all-companies.josn";
---

<section>
  <div class="mx-auto px-8 md:px-32 py-12 max-w-7xl">
    <div class="mx-auto lg:max-w-none max-w-3xl space-y-2">
      <div class="mx-auto text-center max-w-xl">
        <span
          class="text-purple-500 text-sm leading-6 px-4 py-2 relative bg-white ring-1 ring-slate-200 rounded-full"
          >Find your next company</span
        ><h2
          class="text-slate-900 text-3xl font-normal font-display tracking-tight lg:text-4xl mt-8">
          Wempowering your career <span class="md:block"
            >journey with endless opportunities</span
          >
        </h2>
        <p class="text-slate-500 text-base mt-4">
          Discover, apply, and thrive: unveiling job openings from leading
          companies
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="mx-auto px-8 md:px-32 py-12 max-w-7xl">
    <ul class="divide-y divide-slate-100">
      {
        all.map((template) => (
          <>
            <li>
              <div class="group relative py-6 sm:rounded-2xl">
                <div class="absolute -inset-x-4 -inset-y-px bg-slate-50 opacity-0 group-hover:opacity-100 sm:-inset-x-6 rounded-2xl lg:-inset-x-8 duration-200" />
                <div class="relative flex items-center">
                  <div class="relative h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none">
                    <img
                      class="absolute inset-0 h-full w-full rounded-full object-cover"
                      src={template.img}
                      alt=""
                    />
                    <div class="absolute inset-0 rounded-full ring-1 ring-inset ring-black/[0.08]" />
                  </div>
                  <dl class="ml-4 flex flex-auto flex-wrap gap-y-1 gap-x-2 overflow-hidden sm:ml-6 sm:grid sm:grid-cols-[auto_1fr_auto_auto] sm:items-center">
                    <div class="col-span-2 col-start-1 w-full flex-none">
                      <dt class="sr-only">Title</dt>
                      <dd class="text-base font-semibold leading-6 text-slate-900">
                        <a href={template.link}>
                          <span class="absolute -inset-x-4 inset-y-[calc(-1*(theme(spacing.6)+1px))] sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8" />
                          {template.company}
                        </a>
                      </dd>
                    </div>
                    <div class="col-start-1 mr-2.5 flex-none">
                      <dt class="sr-only">Type</dt>
                      <dd class="text-base leading-6 text-slate-500">
                        {template.description}
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </li>
          </>
        ))
      }
    </ul>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 sr-only">
      <div
        class="relative border rounded-3xl p-8 shadow-2xl shadow-slate-500/20 overflow-hidden">
        <div class="relative w-full">
          <div
            class="h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none">
            <img
              class="inset-0 h-full w-full rounded-full object-cover"
              src="/logos/behance.svg"
              alt=""
            />
          </div>
          <p class="text-lg font-medium text-slate-900 mt-4">Behance</p>
          <p class="text-base mt-4 text-slate-500">
            Increase visibility by posting it as a featured opportunity, free of
            charge
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
