@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@layer components {
  .prose-styles {
    @apply hover:prose-a:text-slate-900 mt-24 prose prose-a:text-purple-500 prose-blockquote:border-l-black prose-blockquote:text-slate-500 prose-code:text-slate-900 prose-headings:font-semibold prose-headings:text-slate-900 prose-li:marker:text-purple-500 text-slate-500 prose-pre:border  mx-auto px-8;
  }
}

@theme {
  /* Typography*/
  --font-sans: "Inter", sans-serif;
  --font-display: "Familjen Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  /* Colors */
  --color-purple-50: #e6e1fe;
  --color-purple-100: #cec4fd;
  --color-purple-200: #b3a6f9;
  --color-purple-300: #9c8ef4;
  --color-purple-400: #7a69ee;
  --color-purple-500: #5b4ccc;
  --color-purple-600: #4034ab;
  --color-purple-700: #2a218a;
  --color-purple-800: #1b1472;
  --color-purple-900: #1b1472;
  --color-purple-950: #05060b;
}

@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    font-family: InterVariable, sans-serif;
  }
}
:root {
  /* Typography*/
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1,
    /* Contextual Alternates */ "dlig" 1, /* Discretionary Ligatures */ "ss07" 1,
    /* fSquare punctuation */ "ss08" 1, /* Square quotes */ "zero" 1,
    /* Slashed zero */ "tnum" 1, /* Tabular numbers */ "cv03",
    /* Open six */ "cv04" 1, /* Open nine */ "cv01" 1,
    /* Alternate one */ "cv09", /* Flat-top three */ "cv02" 1; /* Open 4 */
  /* Style code blocks*/
  --astro-code-color-text: #000;
  --astro-code-background: #fafafa;
  --astro-code-token-constant: #00000080;
  --astro-code-token-string: #000000;
  --astro-code-token-comment: #00000080;
  --astro-code-token-keyword: #0a9f7e;
  --astro-code-token-parameter: #000000;
  --astro-code-token-function: #9d07be;
  --astro-code-token-string-expression: #2d2efd;
  --astro-code-token-punctuation: #000000;
  --astro-code-token-link: #000000;
}
