<section class="border-t border-slate-200">
  <div class="mx-auto px-8 md:px-32 py-12 lg:py-24 max-w-7xl">
    <div class="relative overflow-hidden">
      <div class="w-full grid grid-cols-1 gap-4 lg:grid-cols-2 lg:items-end">
        <div>
          <p
            class="text-black text-xl font-normal tracking-tight font-display lg:text-2xl"
          >
            We have a newsletter
          </p>
          <p class="text-base mt-4 text-slate-500">
            Be part of our newsletter community and get the top job
            opportunities of the week delivered straight to your inbox.
          </p>
        </div>
        <div class="lg:ml-auto">
          <form
            class="bg-slate-100 w-full lg:w-auto p-1.5 rounded-xl md:rounded-full"
          >
            <div class="w-full md:flex md:items-center">
              <div>
                <label for="emailAddress" class="sr-only">Email address</label>
                <input
                  id="emailAddress"
                  name="email"
                  required
                  type="email"
                  aria-label="Email address"
                  aria-required="true"
                  placeholder="Email address"
                  autocomplete="email"
                  class="border appearance-none bg-transparent block border-transparent focus:border-purple-500 focus:outline-none focus:ring-purple-500 p-3 placeholder:text-slate-400 rounded-full sm:text-sm text-slate-900"
                />
              </div>
              <button
                class="inline-flex items-center lg:w-auto justify-center mt-4 md:mt-0 w-full px-5 py-3 text-sm leading-4 text-white bg-purple-500 rounded-full hover:bg-purple-600 focus:bg-purple-600 duration-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2"
                type="submit"
                aria-label="Join the waitlist"
                ><span>Join the waitlist!</span></button
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
