<section>
  <div class="mx-auto px-8 md:px-32 py-12 max-w-7xl">
    <div
      class="border rounded-3xl p-8 shadow-2xl shadow-slate-500/20 overflow-hidden">
      <div class="w-full">
        <p class="text-lg font-medium text-slate-900">
          Currently, there are no open job offers to showcase.
        </p>
        <p class="text-base mt-4 text-slate-500">
          However, if you would like to promote your company's job opening and
          have it prominently displayed, you can explore our pricing page by
          clicking the button below.
        </p>
        <div class="mt-6">
          <a
            href="/board/post-job"
            class="inline-flex items-center w-full px-5 py-3 text-sm leading-4 text-white bg-purple-500 md:w-auto rounded-full hover:bg-purple-50 hover:text-purple-500 duration-200 focus:outline-none md:focus:ring-2 focus:ring-0 focus:ring-offset-2 focus:ring-purple-500"
            >Post a job</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
