<section>
  <div class="mx-auto px-8 md:px-32 py-12 max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-24">
      <div>
        <span
          class="text-purple-500 text-sm leading-6 px-4 py-2 relative bg-white ring-1 ring-slate-200 rounded-full"
          >Find your next candidate</span
        ><h2
          class="text-slate-900 text-3xl font-normal tracking-tight font-display lg:text-4xl mt-8"
        >
          Our story: unveiling our journey
        </h2>
        <p class="text-slate-500 text-base mt-4">
          Delve deep into the rich tapestry of our organization as we share the
          unwavering vision, steadfast mission, and fundamental core values that
          fuel our unwavering commitment to excellence, drive innovation, foster
          meaningful relationships, and make a positive and lasting impact on
          the world around us
        </p>
      </div>
      <img
        class="rounded-2xl"
        src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2084&q=80"
        alt=""
      />
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-24 mt-24">
      <h2
        class="text-slate-900 font-display text-3xl font-normal tracking-tight lg:text-4xl"
      >
        Our success in numbers
      </h2>
      <p class="text-slate-500 text-base">
        Delving into the remarkable achievements, extensive growth, and profound
        impact as we uncover the captivating narrative through in-depth
        statistical insights and data-driven analysis
      </p>
    </div>
    <dl
      class="mt-12 grid grid-cols-2 gap-x-8 gap-y-12 sm:gap-y-16 lg:grid-cols-4"
    >
      <div class="flex flex-col gap-y-3 border-l border-slate-200 pl-6">
        <dt
          class="text-base leading-7 text-slate-500 inline-flex items-center gap-2"
        >
          Satisfied customers
        </dt>
        <dd
          class="text-base font-semibold tracking-tight text-slate-900 order-first"
        >
          1,000+
        </dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-slate-200 pl-6">
        <dt
          class="text-base leading-7 text-slate-500 inline-flex items-center gap-2"
        >
          Industry experience
        </dt>
        <dd
          class="text-base font-semibold tracking-tight text-slate-900 order-first"
        >
          5 Years
        </dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-slate-200 pl-6">
        <dt
          class="text-base leading-7 text-slate-500 inline-flex items-center gap-2"
        >
          Successful projects
        </dt>
        <dd
          class="text-base font-semibold tracking-tight text-slate-900 order-first"
        >
          500+
        </dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-slate-200 pl-6">
        <dt
          class="text-base leading-7 text-slate-500 inline-flex items-center gap-2"
        >
          Customer satisfaction
        </dt>
        <dd
          class="text-base font-semibold tracking-tight text-slate-900 order-first"
        >
          95%
        </dd>
      </div>
    </dl>
  </div>
</section>
<section>
  <div class="mx-auto px-8 md:px-32 py-12 max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-6 lg:gap-24">
      <div>
        <h2
          class="font-semibold text-3xl mt-6 lg:mt-0 font-display tracking-tighter lg:text-5xl text-slate-900"
        >
          Jon Smears
        </h2>
        <p class="text-slate-500 mt-6">
          "Finding a job seemed like an insurmountable challenge until I
          discovered FromBanua. Their platform provided me with invaluable
          resources and guidance throughout my job search journey. From resume
          optimization to interview preparation, FromBanua equipped me with the
          tools and knowledge I needed to stand out from the competition.
          <br /><br /> Thanks to their exceptional support, I secured a fantastic
          job opportunity that aligns perfectly with my skills and aspirations. I'm
          immensely grateful to FromBanua for their unwavering dedication and expertise
          in helping me achieve professional success. I highly recommend their services
          to anyone seeking a career breakthrough.
        </p>
      </div>
      <img
        class="rounded-2xl"
        src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
        alt=""
      />
    </div>
  </div>
</section>
