---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="mx-auto px-8 md:px-32 py-12 max-w-7xl">
      <div class="mx-auto lg:max-w-none max-w-3xl space-y-2">
        <div class="pb-5 border-b border-slate-200 max-w-xl mx-auto">
          <h2
            class="text-slate-900 text-3xl font-normal tracking-tighter lg:text-4xl mt-8"
          >
            {frontmatter.page}
            ⏤
            {frontmatter.pubDate.toString().slice(0, 10)}
          </h2>
          <p class="text-slate-500 text-base mt-4">
            {frontmatter.description}
          </p>
        </div>
      </div>
      <div class="prose-styles">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
