<section>
  <div class="mx-auto px-8 md:px-32 py-12 max-w-7xl">
    <div class="max-w-xl">
      <h2
        class="text-slate-900 font-display text-3xl font-normal tracking-tight lg:text-4xl"
      >
        Style guide
      </h2>
      <p class="text-slate-500 text-base mt-6">Typography</p>
    </div>
    <dl
      class="mt-12 grid grid-cols-2 gap-x-8 gap-y-12 sm:grid-cols-3 sm:gap-y-16"
    >
      <div class="flex flex-col gap-y-3 border-l border-slate-200 pl-6">
        <dt
          class="text-base leading-7 text-slate-500 inline-flex items-center gap-2"
        >
          Display
        </dt>
        <dd
          class="text-base font-semibold tracking-tight text-slate-900 order-first"
        >
          Familjen Grotesk
        </dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-slate-200 pl-6">
        <dt
          class="text-base leading-7 text-slate-500 inline-flex items-center gap-2"
        >
          Body
        </dt>
        <dd
          class="text-base font-semibold tracking-tight text-slate-900 order-first"
        >
          Inter
        </dd>
      </div>
      <div class="flex flex-col gap-y-3 border-l border-slate-200 pl-6">
        <dt
          class="text-base leading-7 text-slate-500 inline-flex items-center gap-2"
        >
          Monospaced
        </dt>
        <dd
          class="text-base font-semibold tracking-tight text-slate-900 order-first"
        >
          JetBrains Mono
        </dd>
      </div>
    </dl>

    <div class="mt-12">
      <div class="mt-12">
        <div class="max-w-xl">
          <div class="space-y-6 py-3">
            <div class="grid grid-cols-3 items-center lg:grid-cols-4">
              <div><span class="text-slate-900">Header 1</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-slate-900 text-3xl font-light tracking-tight lg:text-4xl font-display"
                  >Header 1</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-center lg:grid-cols-4">
              <div><span class="text-slate-900">Header 2</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-slate-900 text-2xl font-light tracking-tight lg:text-3xl font-display"
                  >Header 2</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-center lg:grid-cols-4">
              <div><span class="text-slate-900">Header 3</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span
                  class="text-slate-900 text-xl font-light tracking-tight lg:text-2xl font-display"
                  >Header 3</span
                >
              </div>
            </div>

            <div class="grid grid-cols-3 items-center lg:grid-cols-4">
              <div><span class="text-slate-900">Link</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-purple-500 text-base hover:text-slate-500"
                  >Link text</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-center lg:grid-cols-4">
              <div><span class="text-slate-900">Subtitle</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-slate-500 font-medium">Subtitle text</span>
              </div>
            </div>
            <div class="grid grid-cols-3 items-center lg:grid-cols-4">
              <div>
                <span class="text-slate-900">Paragraph</span>
              </div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-slate-500 text-base"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-center lg:grid-cols-4">
              <div><span class="text-slate-900">Caption</span></div>
              <div class="col-span-2 lg:col-span-3">
                <span class="text-slate-500 text-xs"
                  >Picture about somethign</span
                >
              </div>
            </div>
            <div class="grid grid-cols-3 items-center lg:grid-cols-4">
              <div><span class="text-slate-900">Code</span></div>
              <div class="col-span-2 lg:col-span-3">
                <code class="font-mono text-slate-500">tailwind.config.js</code>
              </div>
            </div>
            <div class="grid grid-cols-3 items-start lg:grid-cols-4">
              <div><span class="text-slate-900">List</span></div>
              <div class="col-span-2 lg:col-span-3">
                <ul
                  class="text-slate-600 list-inside space-y-3 list-disc"
                  role="list"
                >
                  <ul
                    class="text-slate-500 list-inside space-y-3 font-normal list-none"
                    role="list"
                  >
                    <li>Access to premium posts</li>
                    <li>Weekly newsletters</li>
                    <li>Simple, secure card payment</li>
                    <li>No Advertising</li>
                    <li>Special discounts</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:mt-32 mt-12">
      <div>
        <p class="text-slate-500">Main color palette</p>
      </div>
      <div class="grid gap-2 mt-12 grid-cols-3 lg:grid-cols-3">
        <div class="space-y-2">
          <div
            class="lg:justify-center p-6 rounded-lg bg-white border border-slate-200"
          >
          </div>
          <div
            class="lg:justify-center p-6 rounded-lg bg-gradient-to-tr from-purple-700 via-purple-500 to-purple-300"
          >
          </div>
        </div>
        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-purple-50"></div>
          <div class="lg:justify-center p-6 bg-purple-100"></div>
          <div class="lg:justify-center p-6 bg-purple-200"></div>
          <div class="lg:justify-center p-6 bg-purple-300"></div>
          <div class="lg:justify-center p-6 bg-purple-400"></div>
          <div class="lg:justify-center p-6 bg-purple-500"></div>
          <div class="lg:justify-center p-6 bg-purple-600"></div>
          <div class="lg:justify-center p-6 bg-purple-700"></div>
          <div class="lg:justify-center p-6 bg-purple-800"></div>
          <div class="lg:justify-center p-6 bg-purple-900"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-purple-950"></div>
        </div>
        <div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-slate-50"></div>
          <div class="lg:justify-center p-6 bg-slate-100"></div>
          <div class="lg:justify-center p-6 bg-slate-200"></div>
          <div class="lg:justify-center p-6 bg-slate-300"></div>
          <div class="lg:justify-center p-6 bg-slate-400"></div>
          <div class="lg:justify-center p-6 bg-slate-500"></div>
          <div class="lg:justify-center p-6 bg-slate-600"></div>
          <div class="lg:justify-center p-6 bg-slate-700"></div>
          <div class="lg:justify-center p-6 bg-slate-800"></div>
          <div class="lg:justify-center p-6 bg-slate-900"></div>
          <div class="lg:justify-center p-6 rounded-b-lg bg-slate-950"></div>
        </div>
      </div>
      <div class="lg:mt-32 mt-12">
        <div>
          <p class="text-slate-600">Main buttons</p>
        </div>
        <div class="flex flex-col mt-12 gap-6 md:flex-row">
          <a
            class="inline-flex items-center w-full px-5 py-3 text-sm leading-4 text-white bg-purple-500 justify-between text-center rounded-full hover:bg-purple-50 hover:text-purple-500 duration-200 focus:outline-none md:focus:ring-2 lg:w-auto focus:ring-0 focus:ring-offset-2 focus:ring-purple-500"
            href="/board/post-job"
            >Post a featured job &nbsp; <span>&rarr;</span>
          </a>
          <a
            class="inline-flex items-center w-full lg:w-auto px-5 py-3 text-sm leading-4 text-purple-500 bg-white text-center rounded-full justify-between hover:bg-slate-50 duration-200 focus:outline-none md:focus:ring-2 focus:ring-0 focus:ring-offset-2 focus:ring-purple-500 border"
            href="/board/post-job"
            >Post a free job &nbsp; <span>&rarr;</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
